In [4]:
n = int(input('please enter a num: '))
s = 0
c = 0
for i in range(n+1):
    s += i
    c += 1
s/c

500.0

In [10]:
18%4 == 0

False

In [9]:
18%4 == 0 or 18%9 == 0

True

In [22]:
n = int(input('please enter a num: '))
s = 0
c = 0
for i in range(n+1):
    if i%4 == 0 or i%9 == 0:
        print(i)
        s += i
        c += 1
s/c

0
4
8
9
12
16
18

9.571428571428571

In [24]:
c

7

In [23]:
4+9+12+18+0+16+8

67

In [25]:
67/7

9.571428571428571

از عدد 0 تا 10000000

35 امین عدد بخش پذیر بر 3 یا 5

In [27]:
c = 0
for i in range(100000000):
    if i%3 == 0 or i%5 == 0:
        c += 1
        if c == 35:
            print(i)
            break

72

In [30]:
for i in range(11):
    for j in range(11):
        print(i,j)
        if j == 2:
            break

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2
5 0
5 1
5 2
6 0
6 1
6 2
7 0
7 1
7 2
8 0
8 1
8 2
9 0
9 1
9 2
10 0
10 1
10 2

In [31]:
for i in range(11):
    for j in range(11):
        if j % 2 == 0:
            continue
        print(i,j)

0 1
0 3
0 5
0 7
0 9
1 1
1 3
1 5
1 7
1 9
2 1
2 3
2 5
2 7
2 9
3 1
3 3
3 5
3 7
3 9
4 1
4 3
4 5
4 7
4 9
5 1
5 3
5 5
5 7
5 9
6 1
6 3
6 5
6 7
6 9
7 1
7 3
7 5
7 7
7 9
8 1
8 3
8 5
8 7
8 9
9 1
9 3
9 5
9 7
9 9
10 1
10 3
10 5
10 7
10 9

In [40]:
n = int(input('num? '))
first_value = n
s = 0
while n >= 0:
    if first_value % 2 == 0:
        print(n)
        s += n
        n -= 1
    if first_value % 2 == 1:
        print(n)
        s += n
        n -= 5

s

7
2

9

In [35]:
0+1+2+3+4

10

In [41]:
for i in range(5):
    print(i)

0
1
2
3
4

In [42]:
name = 'saeed'
for i in name:
    print(i)

s
a
e
e
d

In [43]:
'saeed' == 'seaed'

False

In [44]:
name

'saeed'

In [45]:
name[0]

's'

In [46]:
name[1]

'a'

In [47]:
name[1:4]

'aee'

In [48]:
name[1:4:2]

'ae'

In [49]:
name[4:1]

''

In [50]:
name[4:1:-1]

'dee'

In [51]:
name[:]

'saeed'

In [52]:
name[1:]

'aeed'

In [53]:
name[:4]

'saee'

In [54]:
name[::-1]

'deeas'

In [55]:
txt = "Welcome to my world"
txt.title()

'Welcome To My World'

In [56]:
len(txt)

19

In [57]:
txt.upper()

'WELCOME TO MY WORLD'

In [62]:
num = input('num?')
s = 0
for i in num:
    s += int(i)
s

28

In [63]:
num

'21524545'

In [64]:
2+1+5+2+4+5+4+5

28